body.my_app{
  $padding: 15px;

  background-color: pink;
  div { 
    padding-bottom: $padding;
    padding-top: $padding; 
  }
  
#user_navigation{
  float: right;
  padding-right: $padding;
  padding:0px;
}

#container {
  background-color: #FFF;
  padding:0;
} // #container

#header {
  background-color: #DfD;
}

#sidebar{
  background-color: #DDF;
}

#content{
  background-color: #FdF;
}

#footer{
  background-color: #FFd;
}

} // body.my_app